.calculator {
  background: $white;
  width: 415px;
  max-width: 100%;
  overflow: hidden;

  @include screen--m() {
    margin: 9rem 1rem;
  }

  margin: 3rem 1rem;

  @include box-shadow(0px, 4px, 40px, $shadow);

  &__features {
    & li {
      font-weight: 500;
      font-size: 1.1rem;
      margin: 1.5rem 0;
    }
  }
}

.price {
  &__amount {
    font-weight: 500;
    line-height: 1rem;
    font-size: 2rem;
  }

  &__monthly {
    &:after {
      content: '/mo';
      color: $fade_grey;
      font-size: 1.2rem;
      margin-left: .25rem;
    }

    &:before {
      content: '$';
      color: $fade_grey;
      vertical-align: super;
      font-size: 1rem;
      margin-right: .25rem;
    }
  }
}

.feature {
  &--exclusive {
    &--unavailable {
      color: $fade_grey;
      text-decoration: line-through;
    }
  }
}

@import 'slider';