$white: #FFFFFF;
$light_grey: #f1f6f9;
$slider_grey: #E6EBEF;
$white_overlay: rgba(243, 246, 249, 0.5);
$fade_grey: #B0B8BE;
$grey: #697177;
$shadow: rgba(55, 63, 69, 0.1);

$light_blue: #9BB8F4;
$hero_blue: #48639C;
$dark_blue: #212F4F;

$black: #373F45;

$colors-list: (white: $white,
light_grey: $light_grey,
slider_grey: $slider_grey,
white_overlay: $white_overlay,
fade_grey: $fade_grey,
grey: $grey,
light_blue: $light_blue,
hero_blue: $hero_blue,
dark_blue: $dark_blue,
black: $black);

@each $name,
$hex in $colors-list {
  .color--#{$name} {
    color: $hex;
  }

  .bg--#{$name} {
    background-color: $hex;
  }
}