.flex {
  &--container {
    flex-direction: column;
    align-items: baseline;
  }

  &--middle {
    justify-content: center;
  }

  &--top {
    align-items: top;
  }

  &--center {
    justify-content: center;

    &--vertical {
      align-items: center;
    }
  }

  &--middle {
    justify-content: center;
  }

  &--end {
    align-self: center;

    @include screen--l {
      align-self: flex-end;
    }
  }

  &--start {
    align-self: flex-start;
  }
}