.loader {
  display: inline-block;
  width: 32px;
  height: 32px;
}

.loader:after {
  content: " ";
  display: block;
  width: 22px;
  height: 22px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid $hero_blue;
  border-color: $hero_blue transparent $hero_blue transparent;
  animation: loader 1.2s linear infinite;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
