@import 'units';

@mixin box-shadow($top, $left, $blur, $color, $inset:"") {
  box-shadow:$top $left $blur $color #{$inset};
}

@mixin text-shadow($top, $left, $blur, $color, $inset:"") {
  text-shadow:$top $left $blur $color #{$inset};
}

@mixin screen--xs {
  @media only screen and (max-width: #{$grid-breakpoint-s}) {
    @content;
  }
}

@mixin screen--s {
  @media only screen and (min-width: #{$grid-breakpoint-s + 1px}) {
    @content;
  }
}

@mixin screen--m {
  @media only screen and (min-width: #{$grid-breakpoint-m}) {
    @content;
  }
}

@mixin screen--l {
  @media only screen and (min-width: #{$grid-breakpoint-l}) {
    @content;
  }
}

@mixin screen--xl {
  @media only screen and (min-width: #{$grid-breakpoint-xl}) {
    @content;
  }
}

@mixin transition($speed) {
  transition: $speed;
}