@charset "UTF-8";

* {
  box-sizing: border-box;
}

::-moz-selection {
  /* Code for Firefox */
  color: $white;
  background: $hero_blue;
}

::selection {
  color: $white;
  background: $hero_blue;
}

html {
  font-family: $sans;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 125%;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: $sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
}

ol {
  list-style-type: initial;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  line-height: 1.5rem;
  text-decoration-style: none;
}

input,
button {
  font-family: $sans;
}

input,
textarea {
  -webkit-border-radius: 0;

  @include transition($ease);
}

[placeholder]:focus::-webkit-input-placeholder {
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

textarea:focus,
input:focus {
  outline: 0;
}

img {
  max-width: 100%;
  vertical-align: middle;
  height: auto;
}

.display {
  &--flex {
    display: flex;
  }

  &--block {
    display: block;
  }

  &--inline-block {
    display: inline-block;
  }

  &--inline {
    display: inline;
  }
}

.border-radius--8 {
  border-radius: 8px;
}