input[type=range] {
  height: 32px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 80%;
  background: none;
  position: relative;
  border-radius: 0;

  &:focus {
    outline: none;

    &::-webkit-slider-runnable-track {
      background: $slider_grey;
    }
  }

  &::-webkit-slider-runnable-track {
    position: relative;
    width: 100%;
    height: 6px;
    cursor: pointer;
    animate: 0.2s;
    background: $slider_grey;
    border-radius: 1rem;
    border: none;
    z-index: 40;
  }

  &::-webkit-slider-thumb {
    position: relative;
    border: none;
    height: 1rem;
    width: 1rem;
    border-radius: 15px;
    background: $hero_blue;
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    -webkit-appearance: none;
    margin-top: -.35rem;
    z-index: 60;
  }


  &::-moz-range-track {
    width: 100%;
    height: 6px;
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    animate: 0.2s;
    background: $slider_grey;
    border-radius: 1rem;
    border: none;
    z-index: 40;
  }

  &::-moz-range-thumb {
    position: relative;
    border: none;
    height: 1rem;
    width: 1rem;
    border-radius: 15px;
    background: $hero_blue;
    cursor: pointer;
    z-index: 60;
  }

  &::-ms-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
    z-index: 40;
  }

  &::-ms-fill-lower {
    background: $light_blue;
    border: none;
  }

  &::-ms-fill-upper {
    background: $slider_grey;
    border: none;
  }

  &::-ms-thumb {
    position: relative;
    margin-top: 1px;
    border: none;
    height: 1rem;
    width: 1rem;
    border-radius: 15px;
    background: $hero_blue;
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    z-index: 60;
  }

  &:focus::-ms-fill-lower {
    background: $light_blue;
  }

  &:focus::-ms-fill-upper {
    background: $slider_grey;
  }
}