@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
$sans: "Roboto",
sans-serif;

.text {
  &--center {
    text-align: center;
  }
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

h5 {
  color: $grey;
  font-weight: 400;
  font-size: .75rem;
  text-transform: uppercase;
}

p {
  font-size: .8rem;
  line-height: 1.35rem;
}

