/* Grid */

$grid-width: 1200px;
$row-width: 960px;
$grid-breakpoint-s: 480px;
$grid-breakpoint-m: 768px;
$grid-breakpoint-l: 960px;
$grid-breakpoint-xl: 1024px;

/* Transitions */

$ease: all 0.3s ease-in-out 0s;
$slow: all 1.5s ease-in-out 0s;
$fast: all 0.2s;